<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>
        Welcome to the text analyzer. Enter your text here.
    </h1>
    <form action='/analyse' method='get'>
        <textarea name='text' style='margin: 0px;width: 696px;height: 139px;'></textarea>
        <br>
        <input type="checkbox" name="removepunc"> Remove punctuation
        <br>
        <input type="checkbox" name="capitalise"> Capitalise text
        <br>
        <input type="checkbox" name="charcount"> Count the characters
        <br>
        <button type="submit"> Analyse text </button>
    </form>
</body>
</html>